@model PatientViewModel
@{
    ViewData["Title"] = "Patient Dashbord";
}
<div class="container">
    <div class="card">
        <div class="card-header">
            Patient
        </div>
        <div class="card-body">
            <div class="row g-0 align-content-md-start">
                <div class="col-sm-6 col-md-6" style="padding-left:60px;">
                    <div class="input-group mb-3">
                        <input type="text" id="txtSearch" class="form-control" placeholder="Enter name or address or problem" asp-for="@Model.Search">
                        <button class="btn btn-outline-primary" type="button" id="button-addon2" onclick="GetPatientDetails();">Search</button>
                    </div>
                </div>
                <div class="col-6 col-md-6">&nbsp;</div>
            </div>
            <div class="row g-0 align-content-md-start">
                <div class="col-sm-6 col-md-6" style="padding-left:60px;">
                    <div class="col-12 col-sm-12">
                        <div class="col col-sm-4 form-group"><label class="from-form-label">Department</label></div>
                        <div class="col col-sm-12 form-group">
                            <select id="ddlDepartment" class="form-control" asp-items="@Model.DepartmentList" onchange="GetPatientDetails();">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-md-1">&nbsp;</div>
                <div class="col-5 col-md-5">
                    <div class="col col-sm-4 form-group"> <label class="from-form-label">Sort By</label></div>
                    <div class="col col-sm-10 form-group">
                        <select id="ddlSortBy" class="form-control" asp-items="@Model.SortByList" onchange="GetPatientDetails();">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row align-content-md-start">
                &nbsp;
            </div>
            <div class="row align-content-md-start">
                <div style="width:90%; margin:0 auto;">
                    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Adminition Data</th>
                                <th>Problem</th>
                                <th>Department</th>

                            </tr>
                        </thead>
                        @if (Model.PatientDetails != null)
                        {
                            @foreach (var patient in Model.PatientDetails)
                            {
                                <tr>
                                    <td>@patient.Name</td>
                                    <td>@patient.Address</td>
                                    <td>@patient.AdminsionDate</td>
                                    <td>@patient.Problem</td>
                                    <td>@patient.DepartmentName</td>
                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
